@model Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Contacto

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            e-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Organización
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizacion)
        </dd>

        <dt>
            Fecha de nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            Informacion adicional
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformacionAdicional)
        </dd>

        <dt>
            Eventos relacionados
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Titulo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
