@model IEnumerable<Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Memo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("Titulo")
    <input type="submit" value="Buscar" />
}
<table class="table">
    <tr>
        <th>
            Evento
        </th>
        <th>
            Título
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MemoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MemoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MemoID })
            </td>
        </tr>
    }

</table>
