@model IEnumerable<Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Diario>

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Nueva entrada de diario", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("Keyword")
    <input type="submit" value="Buscar" />
}
<table class="table">
    <tr>
        <th>
           Fecha
        </th>
        <th>
           Contenido
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.DiarioID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.DiarioID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.DiarioID })
            </td>
        </tr>
    }

</table>
