@model IEnumerable<Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Diario>
@using Hiriart_Corales_MVCWebApp_AgendaPersonal.Models

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Nueva entrada de diario", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("Contenido")
    <input type="submit" value="Buscar" />
}
<table class="table">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Contenido
        </th>
        <th>
            Eventos relacionados
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Fecha.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @{//Esto permite mostrar los eventos relacionados a cada entrada de diario en el indice                   
                    AgendaPersonalCF_Hiriart_Corales db = new AgendaPersonalCF_Hiriart_Corales();
                    var eventos = db.ListaEventoes.Where(s => s.IDDiario == item.DiarioID);
                }
                Hay @eventos.Count().ToString() evento(s) relacionados, vea detalles para más información
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.DiarioID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.DiarioID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.DiarioID })
            </td>
        </tr>
    }

</table>
