@model Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Evento

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Está seguro de que desea borrar esto?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Fecha (dd/mm/aa)
        </dt>

        <dd>
            @Model.Fecha.ToShortDateString()
        </dd>

        <dt>
            Hora de inicio (hh:mm:ss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio.TimeOfDay)
        </dd>

        <dt>
            Hora de fin (hh:mm:ss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fin.TimeOfDay)
        </dd>

        <dt>
            Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            Es serie de repetición
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsSerie)
        </dd>

        <dt>
            Días de repetición
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>
        <dt>
            Contactos relacionados
        </dt>

        <dd>
            @Html.ListBox("ListaContactoID", null, htmlAttributes: new { @class = "form-control" })
        </dd>

        <dt>
            Memo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo.Contenido)
        </dd>

        <dt>
            Notificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notificacion.Hora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
