@model Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>

        <dt>
            Fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fin)
        </dd>

        <dt>
            Titulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Ubicacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie.Titulo)
        </dd>

        <dt>
            Entradas de diario relacionadas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diario.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
