@model IEnumerable<Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Evento>
@using Hiriart_Corales_MVCWebApp_AgendaPersonal.Models

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Nuevo evento", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("Título")
    <input type="submit" value="Buscar" />
}
<table class="table">
    <tr>
        <th>
            Fecha (dd/mm/aa)
        </th>
        <th>
            Hora de inicio (hh:mm:ss)
        </th>
        <th>
            Hora de fin (hh:mm:ss)
        </th>
        <th>
            Título
        </th>
        <th>
            Descripción
        </th>
        <th>
            Ubicación
        </th>
        <th>
            Es serie de repetición
        </th>
        <th>
            Días de repetición
        </th>
        <th>
            Contactos relacionados
        </th>
        <th>
            Memo
        </th>
        <th>
            Notificación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Fecha.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fin.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dias)
            </td>
            <td>
                @{//Esto permite mostrar los eventos relacionados a cada entrada de diario en el indice
                    AgendaPersonalCF_Hiriart_Corales db = new AgendaPersonalCF_Hiriart_Corales();
                    var contactos = db.ListaContactoes.Where(s => s.IDEvento == item.EventoID);
                }
                Hay @contactos.Count().ToString() contacto(s) relacionados, vea detalles para más información
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notificacion.Hora)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EventoID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.EventoID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.EventoID })
            </td>
        </tr>
    }

</table>
