@model IEnumerable<Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diario.Contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diario.Contenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventoID })
        </td>
    </tr>
}

</table>
